.backbox {
  position: relative;
}
.backbox .bb1 {
  position: absolute;
  margin-top: 25px;
  z-index: -1;
}
.backbox .bb2 {
  position: absolute;
  margin-top: 25px;
  z-index: -1;
}
.backbox .bb3 {
  position: absolute;
  margin-top: 24px;
  z-index: -2;
}
.backbox .bb4 {
  position: absolute;
  margin-top: -144px;
  z-index: -3;
}
